/* Main colors */
:root{
    --primary-text-color:#434455;
    --primary-brand-color: #4D5AE5;
    --Pressed-state-color: #404BBF;
    --Dark-color: #2E2F42;
    --Success-color: #31D0AA;
    --Subtle-text-color: #8E8F99;
    --Accent-color: #E7E9FC;
    --Primary-bacgroung-color: #FFFFFF;
    --Bacgroung-color: #F4F4FD;
    --Overlay-color: #2E2F42;
    --Hero-background-color: #2E2F42;
}
/* Body */
body
{
    background-color: var(--Primary-bacgroung-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    /* letter-spacing: 0.02em; */
}
.list {
    list-style: none;}

/* Logo */
.logo{
color: var(--primary-brand-color); 
font-family: Raleway;
letter-spacing: 0.03em;
font-size: 18px;
line-height: 1.33;
text-transform: uppercase;
text-decoration: none;
}
.logo .logo-part {
    color: var(--Dark-color);
}


/* Site nav */
.site-nav .nav-link
{color: var(--Dark-color); 
  font-weight: 500;
  line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
}

.adress-link
{color: var(--primary-text-color);
line-height: 1.5;
font-style: normal;
letter-spacing: 0.02em;
text-decoration: none;
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus
{
    color: var(--Pressed-state-color);
    Cursor: pointer;
}

.adress-nav .adress-link:hover,
.adress-nav .adress-link:focus
{
color: var(--Pressed-state-color);
Cursor: pointer;
}

/* Hero */
.hero{
    background-color: var(--Hero-background-color);
}
.hero-title{
    color: var(--Primary-bacgroung-color);
    font-size: 56px;
        line-height: 1.07;
        text-align: center;
    letter-spacing: 0.02em;}
        

.hero-button{
    font-family: inherit;
    color: var(--Primary-bacgroung-color);
    background-color: var(--primary-brand-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;}
        
.hero-button:hover, .hero-button:focus{
    background-color: var(--Pressed-state-color);
    Cursor: pointer;
}


/* < -Our features-> */
.features-title{
    color: var(--Dark-color);
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        
}
.features-text{
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* What are we doing */

h2{
    color: var(--Dark-color);
    font-size: 36px;
        line-height: 1.11;
}

/* Our team */
.section-team{
    background-color: var(--Bacgroung-color);
}
.section-team-item{
    background-color: var(--Primary-bacgroung-color);
}
.team-title {
    text-align: center;
    letter-spacing: 0.02em;
}
.team-text{
    line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
}

/* Footer */
.page-footer{
    background-color: var(--Dark-color);
}
.footer-text{
    color: var(--Accent-color);
    line-height: 1.5;
}
.logo-part-light{
    color: var(--Bacgroung-color);
}

/* portfolio */

.filter-button {
    font-family: inherit;
    color: var(--primary-brand-color);
    background-color: var(--Accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
}
.filter-button:hover, .filter-button:focus {
    color: var(--Primary-bacgroung-color);
    background-color: var(--Pressed-state-color);
    Cursor: pointer;
}

.portfolio-link{
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    Cursor: pointer;
}

.portfolio-title{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.portfolio-text{
line-height: 1.5;
    letter-spacing: 0.02em;
}
