/* Variables */
:root{
    --hero-background-color: #2E2F42;
    --header-color: #2E2F42;
    --primary-text-color: #434455;
    --primary-background-color: #FFFFFF;
    --primary-btn-color: #4D5AE5;
    --hover-color:#404BBF;
    --success-color: #31D0AA;
    --logo-color: #4D5AE5;
    --accent-color:#E7E9FC;
}

/* Body */
body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.list{
    list-style: none;
}
.link{
text-decoration: none;}


/* Logo */

.logo {
    color: var(--logo-color);
    font-family: 'Raleway';
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
}

.logo-part {
    color:#2E2F42;
}

/* Site nav */


.nav-item {
    color: var(--header-color);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.adress-item {
    color: var(--primary-text-color);
    line-height: 1.5;
        font-style: normal;
        letter-spacing: 0.02em;}

.nav-item:hover, 
.nav-item:focus,
.adress-item:hover, 
.adress-item:focus{
    color: var(--hover-color);
}

/* Hero */
.hero{
    background-color: var(--hero-background-color);
}
.hero-title{
color: #FFFFFF;
font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.hero-button {
    font-family: inherit;
    color: #FFFFFF;
    background-color:var(--primary-btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--hover-color);
    Cursor: pointer;}

 /* < -Our features-> */
.title{
color: var(--header-color);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.subtitle{
color: var(--header-color);
Size:20px;
line-height: 1.2;
letter-spacing: 0.02em;
font-weight: 500;
}

.text{
    color: var(--primary-text-color);
        line-height:1.5;
        letter-spacing: 0.02em;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Our features */


/* Our team */
.team{
    background-color: #F4F4FD;
}

.section-team-item{
    background-color: var(--primary-background-color);
}

.page-footer{
background: #2E2F42;
}
.page-footer .logo-part{
    color: #F4F4FD;
}
.footer-text {
    color: var(--accent-color);
    line-height: 1.5;}

    /* Portfolio */
.filter-btn{
        font-family: inherit;
        color: var(--primary-btn-color);
        background-color: var(--accent-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.04em;
    }

    .filter-btn:hover,
    .filter-btn:focus {
        color: #FFFFFF;
        background-color:#404BBF;
        Cursor: pointer;
    }

/* < !--Galaery of works--> */
.portfolio-link {
    color: var(--primary-text-color);}